- unless compilation.intro.blank?
  %div.intro= raw markdown.render(compilation.intro)

%dl.diacode-picks
  - compilation.links.each do |link|
    %dt
      %a{href: link.url, target: '_blank'}= link.title
    %dd= link.description