@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import "_variables";
@import "bootstrap_and_overrides";
@import "icheck/square/blue";
@import "links";

body{
  font-family: Lato;
  font-weight: 300;
  font-size: 1.6em;
}

a, a:link, a:hover, a:visited, a:active{
  color: $default-link-color;
  &:hover{
    text-decoration: none;
  }
}

header{
  .header-actions{
    > li {
      > a {
        .glyphicon{
          margin-right: 10px;
        }
      }
    }
  }
}

.box-wrapper{
  position: absolute;
  top: 58px;
  right: 0;
  bottom: 0;
  left: 0;  
  display: flex;

  aside#sidebar{
    width: 175px;
    background: $sidebar-background-color;
    flex: 0 1 auto;

    ul{
      display:block;
      margin: 0px;
      padding: 0px;

      li{
        margin: 0px;
        list-style-type: none;
        display: block;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #303542;
        line-height: normal;
        font-weight: 300;
        text-rendering: optimizeLegibility;
        letter-spacing: 1px;

        a{
          display: block;
          padding: 20px 0px;
          text-transform: uppercase;
          color: #fff;

          .glyphicon{
            display:block;
            font-size: 30px;
            margin-bottom: 15px;
            color: $default-link-color;
          }

          &:hover{
            background-color: darken($sidebar-background-color, 10%);
          }

          &.active{
            background-color: $default-link-color;

            .glyphicon{
              color: #fff;
            }
          }
        }
      }
    }
  }

  #main{
    flex: 1 1 auto;
    overflow: scroll;
    background-color: #EBEBEB;
    padding: 0;
  }
}