#compilations_wrapper{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;

  ul.compilations-list{
    background-color: #fff;
    flex: 0 0 auto;
    width: 300px;
    overflow: scroll;
    margin: 0px;
    padding: 0px;

    li{
      list-style-type: none;
      display: block;
      border-bottom: 2px solid #d9d9d9;

      a{
        display:block;
        color: #333;

        &.active, &:hover{
          background-color: #e8f6fb;

          .installment {
            background-color: #ddebf0;
          }
        }

        .installment{
          background-color: #f3f3f3;
          color: #555;
          font-size:1em;
          font-weight: 600;
          width: 40px;
          text-align: center;
          padding: 30px 0px;
        }

        .details{
          padding: 18px;

          .link-count{
            font-size: 1.2em;
            font-weight: 600;
          }

          .status{
            font-size: 0.8em;
            .published{
              color: #50ba7f;
            }
          }
        }
      }

      &.empty{
        text-align: center;
        padding: 90% 0%;
        border:none;
      }
    }
  }

  .compilation-wrapper{
    flex: 1 1 auto;

    .compilation-actions{
      background-color: #50BA7F;
      padding: 1em;
      color: #fff;
    }

    .compilation-details{
      background-color: #fff;
      margin: 2em;
      padding: 1em;
      max-width: 900px;

      h2{ margin-top: 0; }
    }
  }
}