form.add-link{
  width: 100%;
  background: #fff;
  padding: 2em;

  .form-group{
    width: 80%;
    input{
      width: 99%;
    }
  }
}

.link-list{
  max-width: 900px;

  .link-item{
    border-bottom: 2px solid #fff;
    padding: 2em;
    color: #888;

    .title{
      font-size: 2em;
      margin-top: 0px;
      color: #333;
    }

    .url{
      .glyphicon{ margin-left: 5px; }
    }
  }
}