form.add-link{
  width: 100%;
  background: #fff;
  padding: 2em;

  .form-group{
    width: 80%;
    input{
      width: 99%;
    }
  }
}

.link-list{
  margin: 2em;

  .link-item{
    border-bottom: 2px solid #EBEBEB;
    padding: 1.5em;
    color: #888;
    background-color: #fff;
    display: flex;
    max-width: 900px;

    .checkbox-wrapper{
      flex: 0 1 auto;
      width: 45px;
      max-width: 40px;
      margin-top: 3px;
    }

    .details{
      flex: 1 10 auto;
      margin-top: -5px;

      .title{
        font-size: 2em;
        margin-top: 0px;
        color: #333;
      }

      .edit-actions{
        button{
          margin-right: 5px;
        }
      }
    }

    &:hover{
      background: #efefef;
      transition: background-color 250ms ease-out;
    }
  }

  p.empty{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    color: #ababab;
    margin: 2em 0em;
  }
}

.link-selection-panel{
  background-color: #50BA7F;
  padding: 1em;
  color: #fff;

  .selection-count{
    margin-top: 5px;
    font-size: 1.5em;
  }

  .selection-actions{

  }
}