%header
  %nav.navbar.navbar-default{role: 'navigation'}
    = link_to "Picks", "/", class: 'navbar-brand'
    
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        = link_to "#", class: 'dropdown-toggle', data: {toggle: 'dropdown'} do 
          Logged user
          %b.caret

          %ul.dropdown-menu
            %li= link_to "Logout", "#"
